.wallpaperAnimation {
  background: linear-gradient(224deg, #00004d, #540000);
  background-size: 400% 400%;

  -webkit-animation: colorGradient 59s ease infinite;
  -moz-animation: colorGradient 59s ease infinite;
  -o-animation: colorGradient 59s ease infinite;
  animation: colorGradient 59s ease infinite;
}

@-webkit-keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@-moz-keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@-o-keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.elementToRotate {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.elementToRotate:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
