/* Logo rotante */

.elementToRotate {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.elementToRotate:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}

/* Bottone personalizzato */

.btn-outline-light,
.btn-outline-light:hover,
.btn-outline-light:focus {
  text-shadow: none;
  border: 0.05rem solid #fff;
}

/* Base */

html,
body {
  height: 100%;
  min-width: 500px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #333;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
}

/* Fade-in in caricamento */

.invisible {
  opacity: 0;
}

.nowVisible {
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Specs */

.specs {
  padding: 1rem 0 1rem 5px;
}

/* Slides */

.slides-container {
  max-width: 70%;
  max-height: 80%;
}

/* Cover */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-size: 90%;
  font-weight: 700;
}

/* Navbar */

.masthead {
  padding-bottom: 30px;
}

/* Footer */

#finalText {
  transition: transform 0.8s;
}

.mastfoot {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 30px;
}

#finalText:hover {
  transform: scale(0.9);
}


@-webkit-keyframes moveupDown {
  0% {
    -webkit-transform: translate(0, 4px);
  }
  50% {
    -webkit-transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, 4px);
  }
}

@keyframes moveupDown {
  0% {
    transform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 4px);
  }
}

/* Effeto shake finti link */

.cover-heading {
  font-size: 57px;
  padding: 0 0 0 5px;
}

.lead,
.cover-heading,
.btn {
  transition: transform 0.8s;
  cursor: default;
}

.lead:hover {
  transform: scale(1.1);
}

.titleUpDown {
  animation: moveupDown 1.7s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 2px, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, -1px, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 1px, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(3px, -2px, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 2px, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, -1px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 1px, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, -2px, 0);
  }
}

/* Effeto pulse bottone + shake */

.btn {
  border-radius: 5%;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse 2s infinite;
}

#startShake {
  border-radius: 5%;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: shake 0.8s;
}

.btn:hover {
  animation: none;
  transform: scale(1.1);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Sfondo animato */

.wallpaperAnimation {
  background: linear-gradient(224deg, #00004d, #540000);
  background-size: 400% 400%;

  -webkit-animation: colorGradient 35s ease infinite;
  -moz-animation: colorGradient 35s ease infinite;
  -o-animation: colorGradient 35s ease infinite;
  animation: colorGradient 35s ease infinite;
}

@-webkit-keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

/* Firefox < 16 */
@-moz-keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@keyframes colorGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
